body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    border: black 2px solid;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#grid .row {
    display: flex;
    flex: 1;
}

.row .square {
    border: lightgray 1px solid;
    flex: 1;
    box-sizing: border-box;
    user-select: none;
}

.square.colored {
    background-color: black;
}